<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"backgroundColor":"text-color","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-text-color-background-color has-background"><!-- wp:group {"metadata":{"name":"hero-section"},"align":"full","style":{"spacing":{"blockGap":"0","padding":{"top":"15vh","bottom":"15vh"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:15vh;padding-bottom:15vh"><!-- wp:post-title {"textAlign":"left","align":"wide","style":{"typography":{"fontSize":"81px"},"elements":{"link":{"color":{"text":"var:preset|color|background-primary"}}}},"textColor":"background-primary"} /-->

<!-- wp:post-content {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|background-secundary"}}}},"textColor":"background-secundary"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->